<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Django Website{% endblock %}</title>
    {% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body>
    <nav>
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'features' %}">Features</a></li>
            <li><a href="{% url 'tutorials' %}">Tutorials</a></li>
            <li><a href="{% url 'code_snippets' %}">Code Snippets</a></li>
            <li><a href="{% url 'resources' %}">Resources</a></li>
            <li><a href="{% url 'projects' %}">Projecten</a></li>
            <li><a href="{% url 'contact' %}">Contact</a></li>
        </ul>
    </nav>
    <div>
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
