{% extends 'base.html' %}

{% block title %}Tutorials - Django Website{% endblock %}

{% block content %}
<h1>Django Tutorials</h1>
<p>
    Django biedt een breed scala aan mogelijkheden. Hieronder vind je enkele handige tutorials:
</p>

<ol>
    <li>
        <strong>Hoe start je een Django-project?</strong><br>
        Leer hoe je een nieuw project opzet en een eenvoudige webpagina bouwt.<br>
        <a href="#">Bekijk de tutorial</a>
    </li>
    <li>
        <strong>Django ORM begrijpen</strong><br>
        Leer hoe je gegevens uit je database ophaalt, opslaat en wijzigt met Django's ORM.<br>
        <a href="#">Bekijk de tutorial</a>
    </li>
    <li>
        <strong>Formulieren in Django</strong><br>
        Voeg interactieve formulieren toe aan je applicatie en valideer gebruikersinvoer.<br>
        <a href="#">Bekijk de tutorial</a>
    </li>
</ol>
{% endblock %}
